
/* *creating the overlay */
body{
  min-height: 100%;
}
body{
  position: relative;
}
.overlay-page1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  
  background-image: linear-gradient(to  right, rgb(1, 1, 66), rgb(0, 0, 110), rgb(0, 0, 110), rgb(1, 1, 66));
}

 .header-overlay img{
  min-width: 450px;
}
 .header-overlay {
  padding-bottom: 5vh;
  padding-top: 5vh;
}
.start-game{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(224, 0, 0, 0.911);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Alegreya', serif;
}

h2{
  
  color: rgb(206, 21, 7);
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: 'Alegreya', serif;
}

 ul{
  list-style-type: none;
  color: rgb(214, 22, 48);
  font-size: 18px;
  font-family: 'Alegreya', serif;
}
li{
  padding :3px
}





/* *styling for the main body */

body{
  background-image: linear-gradient(to  right, rgb(1, 1, 66), rgb(0, 0, 110), rgb(0, 0, 110), rgb(1, 1, 66));
}
header {
  text-align: center;
  padding: 20px 0px
  
}
header .main{
  color: aliceblue;
}
header img{
  max-width: 200px;
}
main{
  text-align: center;
}

/* Classes to hide the main screen/ hide the rules div class  */

.y-axis, .x-axis {
  padding: 7px;
  margin: 0px 20px;
  background-color: rgba(224, 0, 0, 0.911);
  color: rgb(218, 217, 217);
  font-family: 'Alegreya', serif;
  font-weight: bold;
  min-width: 100px;
}

button:hover{
background-color: rgb(104, 173, 14);
}

.ship-buttons{
background-color: red;
color: transparent;
border: transparent;
}
.add-carriership, .add-battleship, .add-destroyer, .add-submarine, .add-patrol{
  background-color: rgba(224, 0, 0, 0.911);
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
  color: rgb(218, 217, 217);
  font-family: 'Alegreya', serif;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
}


.banner-message{
  
  background-color: red;
  min-width: 300px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 7px 1px #6d0404;
  color: rgb(218, 217, 217);
  font-family: 'Alegreya', serif;
  font-size: 17px;
  font-weight: bold;
}

.rules{
  color:rgb(218, 217, 217);
  margin-top: 25px;
}

.banner{
  display: flex;
  justify-content: center;
  
  
}
/* this is to help me remoember which is the computer grid whislt working */

.grid-headings{
  margin: 5px;
  margin-bottom: 0px;
  color: rgb(218, 217, 217);
}
.label-computer-grid{
  background-color: red;
  width: 100px;
  margin-left:50px;
  margin-bottom: -50px;
}
/* styling the player grid  */
.player-grid {
  margin-left: 10px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 450px;
  width: 450px;
  background-color: transparent;
}
/* styling the divs in theplayers grid */
.player-grid div {
  border: 1px solid rgb(218, 217, 217);
  flex-grow: 1;
  height: 9.5%;
  width: 9%;
  color:rgba(255, 255, 255, 0)
}

/* styling the layout of both grids */
.both-grids {
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  
 
}


/* styling the computer grids  */
.computer-grid {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 450px;
  width: 450px;
  
}

.computer-grid div {
  border: 1px solid rgb(218, 217, 217);
  flex-grow: 1;
  height: 9.5%;
  width: 9%;
  color: rgba(255, 255, 255, 0);
}
/* Creating the ship classes */


.place-carriership{
  background-color: rgb(102, 107, 24);
  /* background-image: url("../assets/kisspng-ship-type-26-frigate-navy-type-997-artisan-radar-ships-5ad04ccc71a6c2.6790923015236005884655.png");

   background-attachment:fixed;
   background-size: 150px 100px;
   background-position:center; */
   
  
  
  
}
.place-battleship{
  background-color: green;
}
.place-destroyer{
  background-color: rgb(133, 133, 133);
}
.place-submarine{
  background-color: rgb(240, 120, 120);
}
.place-patrol{
  background-color: orange;
}

/* styling for hovering over square  */
.hover-ship:hover{
  background-color: red;
}

.hidden{
  display: none;
}


/* these are the computers ships- can add color of none */

.place-comp-carriership{
  background-color: rgba(122, 45, 45, 0);
}
.place-comp-battleship{
  background-color: rgba(132, 245, 160, 0);
}
.place-comp-destroyer{
  background-color: rgba(88, 6, 240, 0);
}.place-comp-submarine{
  background-color: rgba(248, 188, 188, 0);
}
.place-comp-patrol{
  background-color: rgba(32, 104, 3, 0);
}

.mouse-hover{
  background-color:rgb(12, 202, 12);
}

.ship-outline{
  background-color: rgba(125, 182, 248, 0.753);
}
.mouse-hover-invalid{
  background-color: rgb(255, 0, 0);
}


/* shooting at computer  */

.shot-miss{
  background-color: rgb(82, 101, 207);
}
.shot-hit{
  background-color: black;
  background-image: url('https://media.giphy.com/media/g2YdApKEna2sg/giphy.gif');
  background-size: contain;
  background-attachment:local;
}


.overlay-win-screen {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 30%;
  width: 30%;
  z-index: 9;
  transform: translate(115%,100%);

  background-color: rgba(255, 174, 212, 0.993);
  border-radius: 50px 10px 50px 10px;

}

.overlay-win-screen h3{
  font-size: 25px;
  font-family: 'Alegreya', serif;
}

.overlay-win-screen p{
  font-size: 20px;
  font-family: 'Alegreya', serif;
  
}

.Reload-page{
background-color: rgba(224, 0, 0, 0.911);
padding: 10px;
font-size: 17px;
font-weight: bold;
color: rgb(218, 217, 217);
font-family: 'Alegreya', serif;
}






/* ** can work on this tomorrow  */


@media screen and (max-width: 300px) { 
  .both-grids{
    flex-direction: column;
  }

  .computer-grid{
    max-width: 200px;
    max-height: 200px;
  }
  .player-grid{
    max-width: 200px;
    max-height: 200px;
  }
  .both-grids{
    padding-bottom: 15px;
  }

  .header-overlay img{
    min-width: 200px;
  }

  .start-game{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    
  }

  .add-carriership, .add-battleship, .add-destroyer, .add-submarine, .add-patrol{
    font-size: 10px;
    max-width: 15vh;
    min-width: 15vh;
    padding: 5px 0px;
    margin-bottom: 8px;
  }

  h2{
  
    color: rgb(206, 21, 7);
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Alegreya', serif;
  }
  
   ul{
     text-align: center;
    list-style-type: none;
    color: rgb(214, 22, 48);
    font-size: 13px;
    font-family: 'Alegreya', serif;

  }
  li{
    padding :.5vh 5vh .5vh 0vh
    
   
    
  }
  .main-section-overlay{
    text-align: ;
  }
  
}

@media screen and (max-width: 600px) { 

.grid-headings{

}
  .both-grids{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .computer-grid{
    max-width: 400px;
    max-height: 400px;
    padding: 5px;
  }
  .player-grid{
    max-width: 400px;
    max-height: 400px;
    padding: 5px;
  }

  .header-overlay img{
    min-width: 400px;
  }

  .start-game{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(224, 0, 0, 0.911);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
  }
  h2{
    color: rgb(206, 21, 7);
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Alegreya', serif;
  }
   ul{
     text-align: center;
    list-style-type: none;
    color: rgb(214, 22, 48);
    font-size: 17px;
    font-family: 'Alegreya', serif;
  }
  li{
    padding :.5vh 5vh .5vh 0vh;   
  }
 
  
}

@media screen and (max-width: 1100px){

  .both-grids{
    flex-direction: column;
  }

  .computer-grid{
    max-width: 600px;
    max-height: 600px;
  }
  .player-grid{
    max-width: 600px;
    max-height: 600px;
  }
}


