header{
  text-align: center;
}
main{
  text-align: center;
}
/* this is to help me remoember which is the computer grid whislt working */
.label-computer-grid{
  background-color: red;
  width: 100px;
  margin-left:50px;
  margin-bottom: -50px;
}
/* styling the player grid  */
.player-grid {
  margin-left: 10px;
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
}
/* styling the divs in theplayers grid */
.player-grid div {
  border: 1px solid rgb(8, 8, 8);
  flex-grow: 1;
  height: 9.5%;
  width: 9%;
}

/* styling the layout of both grids */
.both-grids {
padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* styling the computer grids  */
.computer-grid {
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.computer-grid div {
  border: 1px solid rgb(8, 8, 8);
  flex-grow: 1;
  height: 9.5%;
  width: 9%;
}
/* Creating the ship classes */


.place-carriership{
  background-color: red;
}
.place-battleship{
  background-color: green;
}
.place-destroyer{
  background-color: greenyellow;
}
.place-submarine{
  background-color: grey;
}
.place-patrol{
  background-color: orange;
}

/* styling for hovering over square  */
.hover-ship:hover{
  background-color: red;
}

.hidden{
  display: none;
}


/* these are the computers ships- can add color of none */

.place-comp-carriership{
  background-color: rgba(122, 45, 45, 0.89);
}
.place-comp-battleship{
  background-color: rgb(132, 245, 161);
}
.place-comp-destroyer{
  background-color: rgba(87, 6, 240, 0.788);
}.place-comp-submarine{
  background-color: rgb(248, 188, 188);
}
.place-comp-patrol{
  background-color: rgba(32, 104, 3, 0.705);
}

.mouse-hover{
  background-color:rgb(12, 202, 12);
}
.mouse-hover-invalid{
  background-color: rgb(12, 1, 1);
}


/* shooting at computer  */

.shot-miss{
  background-color: rgb(27, 43, 136);
}
.shot-hit{
  background-color: black;
}